<div class="p-grid">
  <div class="header">
    <div class="question">
      <h2>{{questionObj.question.question}}</h2>
    </div>
    <div class="progress">
      <div   class="progress-text">Time: {{timer}} Seconds </div>
      <p-progressBar [value]="getTimeRemainingAsFraction()" [showValue]="false"></p-progressBar>
    </div>
  </div>

  <div *ngFor="let option of questionObj.options; trackBy:trackByOption" class="p-col-6"
       (click)="answerClicked(option)"
       class="card-container"
  >
    <p-card>{{option.answer}}</p-card>
  </div>

  <pre>
    {{questionObj | json}}
  </pre>
</div>
