.container{
  width: 800px;
  height: 500px;

  .cards-container {
    padding: 20px;
    height:100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .card {
      min-height: 200px;
      min-width: 350px;
      max-width: 350px;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card:hover:not(.disabled){
      background-color: var(--surface-50);
      cursor: pointer;
    }

  }

}
::ng-deep .p-carousel-items-container {
  height: 600px;
  width: 800px;
}


.skipped.correct,
.time-out.correct,
.answered.correct{
  & .card:hover,
  & .card {
    border: 2px solid MediumSeaGreen;
    background-color: white;
  }
}

.time-out.incorrect{
  & .card:hover,
  & .card {
    border: 2px solid Crimson;
    background-color: white;
  }
}


.skipped.incorrect{
  & .card:hover,
  & .card {
    background-color: white;
    border: 2px solid orange;
  }
}


.answered.correct.selected{
  & .card:hover,
  & .card {
    background-color: MediumSeaGreen;
    color: white;
  }
}
.answered.incorrect.selected{
  & .card:hover,
  & .card {
    background-color: Crimson;
    color: white;
  }
}

.header {
  min-height: 40px;
  margin-bottom: 20px;
  & .question {
    min-width: 100px;
  }

}
.progress {
  width: 150px;
  margin: 20px auto;
  & .progress-text {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
}

.test {
  width: 30px;
  height: 30px;
}
