<div class="container">
  <div class="header">
    <div class="question">
      <h2>{{questionObj.question.question}}</h2>
    </div>
  </div>
  <div class="progress">
    <div   class="progress-text">Time: {{timer}} Seconds </div>
    <p-progressBar [value]="getTimeRemainingAsFraction()" [showValue]="false"></p-progressBar>
  </div>
  <div class="cards-container">
    <div *ngFor="let option of questionObj.options; trackBy:trackByOption"
         [ngClass]="getOptionClass(option, questionObj.answered )"
         (click)="isDisabled() || answerClicked(option)"
         class="card-container"
    >
      <p-card class="p-shadow-4">{{option.answer}}</p-card>
    </div>
  </div>
<!--  <pre>-->
<!--    {{questionObj | json}}-->
<!--  </pre>-->
</div>
