.container{
  width: 800px;
  height: 500px;
  .cards-container {
    padding: 20px;
    height:100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }



}
::ng-deep .p-carousel-items-container {
  height: 600px;
}
.card-container {
   ::ng-deep .p-card {
    min-height: 200px;
    min-width: 350px;
  }

}
.skipped.correct,
.time-out.correct,
.answered.correct{
  & ::ng-deep .p-card {
    border: 2px solid green;
  }
}

.time-out.incorrect{
  & ::ng-deep .p-card {
    border: 2px solid red;
  }
}


.skipped.incorrect{
  & ::ng-deep .p-card {
    border: 2px solid orange;
  }
}


.answered.correct.selected{
  & ::ng-deep .p-card {
    background-color: green;
    color: white;
  }
}
.answered.incorrect.selected{
  & ::ng-deep .p-card {
    background-color: red;
    color: white;
  }
}

.header {
  min-height: 40px;
  margin-bottom: 20px;
  & .question {
    min-width: 100px;
  }

}
.progress {
  width: 150px;
  margin: 20px auto;
  & .progress-text {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
}

