.card-container {
  width: 45%;
  height: 45%;
  min-height: 45%;

  margin: 20px;
  ::ng-deep .p-card {
    min-height: 83px;
  }
}
.header {
  min-height: 83px;
  display: flex;
  justify-content: space-between;
  & .question {
    min-width: 100px;
  }
  & .progress {
    width: 150px;

    & .progress-text {
      width: 100%;
      text-align: center;
      margin-bottom: 5px;
    }
  }
}

