<div class="page-container">
  <p-panel header="About me" class="page-main-panel">
    <div class="main-container">
     <div class="portfolio-container">
      <div class="profile-pic">
        <img src="assets/img/yariv.jpg" height="150" alt="Profile Pic">
      </div>
      <div class="youtube-clip">
        <iframe width="600" height="315" allowfullscreen  frameborder="0"
                src="https://www.youtube.com/embed/Mj6SNdTOZP4?autoplay=1">
        </iframe>
      </div>
    </div>
    <div class="cube-container">
      <iframe width="315" height="600" allowfullscreen  frameborder="0"
              src="https://cubesolver.app">
      </iframe>
    </div>
    </div>
  </p-panel>
</div>
