
.profile-pic {
  display: flex;
  justify-content: space-between;
 &>img {
    border: 1px solid dodgerblue;
    border-radius: 10px;
  }
 & .icons-container {
   display: flex;
   margin: 0 auto;
   align-items: center;
   button {
     margin-left: 15px;
   }
   & img {
     border-radius: 5px;
     height: 18px;
     margin-left: 1px;
     margin-top: 1px;
   }
 }
}
.youtube-clip iframe {
  border-radius: 10px;
}
.portfolio {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: calc(100vh - 100px);
}
.cube {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);

  & iframe{
    //padding: 20px;
    border: 1px solid blue;
    border-radius: 10px;
  }
}
