<div class="p-grid container">
    <div class="p-col-12 p-lg-6 portfolio">
      <div class="profile-pic">
        <img src="assets/img/yariv.jpg" height="150" alt="Profile Pic">
        <div class="icons-container">
          <a href="https://1drv.ms/b/s!Avt0OJpeFA7S-XSVL-mqP173DRWB?e=bHY72m" title='CV' target="_blank">
            <button pButton type="button" icon="pi pi-user"
                    class="p-button-rounded p-button-info p-button-outlined p-ripple p-button-icon-only"
            ></button>
          </a>
          <a href="https://github.com/yarivgdidi" title='Github' target="_blank">
            <button pButton type="button" icon="pi pi-github"
                    class="p-button-rounded p-button-info p-button-outlined p-ripple p-button-icon-only"
            ></button>
          </a>
          <a href="https://www.linkedin.com/in/yariv-gdidi-673a101/" title="Linked In" target="_blank">
            <button pButton type="button"
                    class="p-button-rounded p-button-info p-button-outlined p-ripple p-button-icon-only "
            >
              <i class="fa fa-linkedin"></i>
            </button>
          </a>
          <a href="https://www.facebook.com/yariv.gdidi/" title="Facebook" target="_blank">
            <button pButton type="button"
                    class="p-button-rounded p-button-info p-button-outlined p-ripple p-button-icon-only "
            >
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </button>
          </a>
          <a href="https://www.youtube.com/channel/UCAaK7lNvrAPXs3k5GtgggCw" target="_blank" title="Youtube">
            <button pButton type="button" icon="pi pi-youtube"
                    class="p-button-rounded p-button-info p-button-outlined p-ripple p-button-icon-only"
            ></button>
          </a>
          <a href="https://cubesolver.app" target="_blank" title="Cubesolver">
            <button pButton type="button"
                    class="p-button-rounded p-button-info p-button-outlined p-ripple p-button-icon-only"
            >
              <img src="assets/img/cubesolver.png" alt="">
            </button>
          </a>


        </div>
      </div>
      <div class="youtube-clip" style="position:relative;padding-top:56.25%;">
        <iframe  allowfullscreen  frameborder="0"  style="position:absolute;top:0;left:0;width:100%;height:100%;"
                src="https://www.youtube.com/embed/Mj6SNdTOZP4?autoplay=1">
        </iframe>
      </div>
    </div>
    <div class="p-col-12 p-lg-6 cube">
      <iframe width="315" height="600" allowfullscreen  frameborder="0"
              src="https://cubesolver.app">
      </iframe>
    </div>
</div>
