.page-container {
  width: calc(100vw - 20px);
  height: calc(100vh - 65px);
  min-height: calc(100vh - 65px);
  padding: 20px;


  & ::ng-deep .page-main-panel .p-panel {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
  }

 .carousel ::ng-deep .p-carousel.p-component {
   width:900px;
   margin: 0 auto;
 }

}

::ng-deep .carousel ul{
  //Y.G - fix ul bug in carousel
  list-style: none;
}

::ng-deep .p-carousel-items-content {
  margin: 0 auto;
  max-width: 800px;
}

.dialog-content {
  //background-color: white;
  ////height:80px;
}

::ng-deep input[type="checkbox"] {
  width: 0;
  margin: 0;
}
