.page-container {
  width: calc(100vw - 20px);
  height: calc(100vh - 65px);
  min-height: calc(100vh - 65px);
  padding: 20px;


  & ::ng-deep .page-main-panel .p-panel {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
  }

 .carousel ::ng-deep .p-carousel.p-component {
   width:900px;
   margin: 0 auto;
 }

}

::ng-deep .carousel ul{
  //Y.G - fix ul bug in carousel
  list-style: none;
}

::ng-deep .p-carousel-items-content {
  margin: 0 auto;
  max-width: 800px;
}


::ng-deep input[type="checkbox"] {
  width: 0;
  margin: 0;
}

.control-panel {
  position: absolute;
  height: 150px;
  width: 150px;
  top: 50%;
  left: 50px;
  margin-top: -150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .results .title{
    display: inline-block;
    width: 65px;
  }
  .results .correct {
    color: MediumSeaGreen
  }
  .results .strikes {
    color: Crimson
  }
}
.p-button-success {
 background-color: MediumSeaGreen;
}
::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button.p-link{
  background-color: orange;
}


::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button.p-link.success,
::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button.p-link.success {
  background-color: MediumSeaGreen !important;
}

::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button.p-link.strike,
::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button.p-link.strike {
  background-color: Crimson !important;
}

::ng-deep .p-carousel-indicator .p-link {
  height: 32px!important;
  border: none;
  border-radius: 16px !important;
}
