<div class="page-container">
  <p-panel class="page-main-panel">
    <p-carousel class="carousel" [value]=questions (onPage)="carouselOnPage($event)">
      <ng-template let-question pTemplate="single-question">
        <app-single-question *ngIf="getQuestion(currentPage).question.question!==''"
          [questionObj]="getQuestion(currentPage)"
          [strikes]="strikes"
          (answer)="getAnswer($event)" >

        </app-single-question>
      </ng-template>
    </p-carousel>
    <div class="control-panel">

      <div class="results">
        <h4><span class="title">Correct:</span> <span class="correct">{{success}}</span></h4>
        <h4><span class="title">Strikes:</span> <span class="strikes">{{strikes}}</span></h4>
      </div>

      <button pButton
              (click)="startOver()"
              type="button" label="Start Over" class="p-button-success">
      </button>
    </div>

    <p-checkbox label="Cheat" (click)="cheat=!cheat" [binary]="true"></p-checkbox>
    <p *ngIf="cheat" >{{questions[currentPage].question.correct_answer}}</p>

    <p-dialog
      header="{{dialogTitle}}" [contentStyle]="{backgroundColor: 'white', height:'100%' }"
      [(visible)]="displayDialog" [style]="{width: '50vw', height: '200px'} ">
      <h3 class="dialog-content">{{dialogMessage}}</h3>
    </p-dialog>
  </p-panel>
</div>
