<div class="page-container">
  <p-panel class="page-main-panel">
    <p-carousel class="carousel" [value]=questions (onPage)="carouselOnPage($event)">
      <ng-template let-question pTemplate="single-question">
        <app-single-question
          [questionObj]="getQuestion(currentPage)"
          [strikes]="strikes"
          (answer)="getAnswer($event)" >

        </app-single-question>
      </ng-template>
    </p-carousel>

    <div class="results">
      <div>Correct: <span>{{success}}</span></div>
      <div>Strikes: <span>{{strikes}}</span></div>
    </div>

    <p-checkbox label="Cheat" (click)="cheat=!cheat" [binary]="true"></p-checkbox>
    <div *ngIf="cheat" >{{questions[currentPage].question.correct_answer}}</div>

    <p-dialog
      header="{{dialogTitle}}" [contentStyle]="{backgroundColor: 'white', height:'100%' }"
      [(visible)]="displayDialog" [style]="{width: '50vw', height: '200px'} ">
      <h3 class="dialog-content">{{dialogMessage}}</h3>
    </p-dialog>
  </p-panel>
</div>
